bootstrap/cache/*
/node_modules
/public/hot
/public/storage
/public/vendor
/public/uploads
/public/design
/resources/views/pages
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.DS_Store
/**/.DS_Store
*.log
*.sublime*
Thumbs.db
package-lock.json
_ide_helper.php
/storage/debugbar
/storage/medialibrary
/public/js/admin/kasir.js
/.phpstorm.meta.php
composer.lock
storage/framework/views/*
storage/app
supervisord.pid
supervisord.log
